* {
    box-sizing: border-box;
    margin: auto 0;
    scroll-behavior: smooth; /*or does this go under html?*/
    font-family: 'Playfair Display';
}

nav {
    background: #e7b897;
}

.navList {
    border: 3px solid cyan; /*delete later*/
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.navItem a, ul li {
    list-style-type: none;
    text-decoration: none;
    color:#2c1511;
    font-weight: bold;
}

.navItem a:hover {
    color: #F7E7CE;
}
/*HERO*/

.hero {
    padding: 50px;
    min-height: 100%;
    background-image: url(https://www.newdossalon.com/resources/the-beauty-of-diversity-by-giovanni-iovino-team-cotril-hair-collection001-__scheda-orizz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }

    /*HERO TEXT*/

    .hero h1, h5 {
        font-size: 150px;
        color: #F7E7CE;
        text-align: center;
        padding: 10px;
    }

    .hero h5 {
        font-size: 25px;
    }

    /*SECTION LINKS*/
    .hero a {
        color: #2c1511;
        background: #e7b897;
        border-radius: 5px;
    }

    /*SERVICES COLUMNS*/
    .services {
        background:  #F7E7CE;
    }
    .columns-container, .columns-container-staff {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        background: #F7E7CE;
        /*text color?*/
    }

    .column h2 {
        color:#2c1511;
    }

    .column1 h2, .column2 h2, .column3 h2 {
        padding: 25px;
    }
 
    .column1, .column2, .column3 {
        flex: 33.33%;
        justify-content: center;  
        background: #F7E7CE;
    }

    /*MOMENTUM SECTION*/
    /*Add different placeholder text*/

   .flex-container {
    display: flex;
   }

  .flex-child {
    flex: 1;
    text-align: center;
  }

  .flex-child:first-child {
    margin-right: 20px;
  }
  
  .flex-child img {
    border-radius: 50%;
  }
    .yourStyle {
        width: 100%;
        min-height: 400px;
        padding: 15px;
        background: #6e351b;
  color: #F7E7CE;
    }

    .yourStyle h2 {
        font-size: 50px;
    }

    .yourStyle p {
        padding: 5px;
    }

     .yourStyle a, .hero a {
        color:#2c1511;
        background: #e7b897;
        border-radius: 5px;
    }

    .column {
        background: #e7b897;
    }

    footer {
        text-align: center;
        padding: 25px;
        background:#2c1511;
        color: #F7E7CE;
      }
      