* {
    box-sizing: border-box;
    margin: auto 0;
    scroll-behavior: smooth; /*or does this go under html?*/
    font-family: 'Playfair Display';
}

/* NAVBAR SECTION*/ 
nav {
    background: #e7b897;
}

.navList {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.navItem a, ul li {
    list-style-type: none;
    text-decoration: none;
    color:#2c1511;
    font-weight: bold;
}

.navItem a:hover {
    color: #F7E7CE;
}

ul img {
    border-radius: 50px;
    
}
/*HERO*/
.hero {
    padding: 50px;
    min-height: 100%;
    background-image: url(https://www.newdossalon.com/resources/the-beauty-of-diversity-by-giovanni-iovino-team-cotril-hair-collection001-__scheda-orizz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }

    /*HERO TEXT*/
    .hero h1, h5 {
        font-size: 150px;
        color: #F7E7CE;
        text-align: center;
        padding: 10px;
    }

    .hero h5 {
        font-size: 25px;
    }

    /*SERVICES COLUMNS*/
    section .services {
        background:#F7E7CE;
       
    }
     img {
    padding-top: 30px;
   }

   .column p {
    padding-bottom: 30px;
   }
    .columns-container, .columns-container-staff {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        
        text-align: center;
        /* padding was creating the white space*/
        /*padding: 10px 0px;*/
        
        /*text color?*/
    }

    .column h2 {
        color:#2c1511;
    }

    .column1 h2, .column2 h2, .column3 h2 {
        padding: 25px;
       
       
    }

    .column1, .column2, .column3 {
        flex: 33.33%;
        justify-content: center;  
        /*background-image:linear-gradient(#F7E7CE, beige)*/
        
        
      
    }
    /*FIND YOUR STYLE SECTION*/

   .flex-container {
    display: flex;
   }

  .flex-child {
    flex: 1;
    text-align: center;
  }

  .flex-child:first-child {
    margin-right: 20px;
  }
  
  .flex-child img {
    border-radius: 50%;
  }
    .yourStyle {
        width: 100%;
        min-height: 400px;
        padding: 15px;
        background: #6e351b;
  color: #F7E7CE;
    }

    .yourStyle h2 {
        font-size: 80px;
    }

    .yourStyle p {
        padding-bottom: 20px;
    }

    /*FIND YOUR STYLE LINKS*/
    .yourStyle a {
        color: #2c1511;
        background: #e7b897;
        border-radius: 5px;
        padding: 10px;
        text-decoration: none;
       
    }

    /* WTF IS STY ABOUT? FIX IT */
    .sty {
        background: #e7b897;
        text-align: center;
        font-size: 80px;
    }

    .column {
        background: #e7b897;
    }
    
    .column1 a, .column2 a, .column3 a {
        color:  #2c1511;
        background:  beige;
        border-radius: 5px;
        padding: 10px;
        text-decoration: none;
    }

    .heidi, .mackKai, .jonathan {
        box-shadow: 5px 8px 5px gray;
    }
    footer {
        text-align: center;
        padding: 25px;
        background:#2c1511;
        color: #F7E7CE;
      }
      
      /* FAQ section */
      .faq-section {
        background: #e7b897;
        font-size: 45px;
        color: #2c1511;
    
      }

      /* FAQ ACCORDION */
      .content {
        width:100%;
        padding: 0;
      }
      
      .center {
        max-width: 270px;
        padding:20px;
      }
      
      .teacher {
        position: relative;
        background: /*#e7b897;*/#f7e7ce;
        margin: 0;
        padding: 10px 10px 10px 50px;
        display: block;
        width: 100%;
      }
      
      .bios {
        padding: 0px 15px;
        margin: 5px 0;
        width: 100%!important;
        height: 0;
        overflow: hidden;
        z-index: -1;
        position: relative;
        opacity: 0;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        
      }
      .teacherS:checked ~ .bios{
        height: auto;
        opacity: 1;
        padding: 15px;
      }
      
      /*FAQ Toggle*/
      .plus {
        position: absolute;
      margin-left: 10px;
        z-index: 5;
        font-size: 2em;
        line-height: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        -webkit-transition: .3s ease;
        -moz-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
      }
      
      .teacherS:checked ~ .plus {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      .teacherS {
        display: none;
      }