* {
    box-sizing: border-box;
    margin: auto 0;
    scroll-behavior: smooth; /*or does this go under html?*/
    font-family: 'Playfair Display';
}

nav {
    background: beige; /*refer to first version for colors*/
}

.navList {
    border: 3px solid cyan; /*delete later*/
    padding: 1rem;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

/*HERO*/
section {
    border: 3px solid cyan; /*delete later*/
}

.hero {
    padding: 50px;
    min-height: 100%;
    background-image: url(https://www.newdossalon.com/resources/the-beauty-of-diversity-by-giovanni-iovino-team-cotril-hair-collection001-__scheda-orizz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }

    /*HERO TEXT*/

    .hero h1, h5 {
        font-size: 150px;
        color: #F7E7CE;
        text-align: center;
        padding: 10px;
    }

    .hero h5 {
        font-size: 25px;
    }

    /*SECTION LINKS*/
    .hero a, .momentum a {
        color: #2c1511;
        background: #e7b897;
        border-radius: 5px;
    }

    /*SERVICES COLUMNS*/
    .columns-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        background: #e7b897;
        /*text color?*/
    }

    .column1, .column2, .column3 {
        flex: 33.33%;
        justify-content: center;
    }